# Python
*.pyc
__pycache__/
.Python/
venv/
env/
.env
pip-log.txt
pip-delete-this-arg.txt

# Django
*.sqlite3
local_settings.py
media/
static/
/migrations/*
!/migrations/__init__.py
!*/migrations/__init__.py

# VS Code
.vscode/

# Operating System specific
.DS_Store
Thumbs.db